In [2]:
import pandas as pd

In [7]:
df = pd.read_csv("employee_ml.csv")

In [8]:
df.head()

,employee_id,year,status,business_unit,department_name,job_title,city_name,store_no,gender,termination_date,hire_date,birth_date,age,length_of_service,termreason_desc,termtype_desc
0,1318,2006,ACTIVE,HEADOFFICE,Executive,CEO,Vancouver,35,M,NaN,28-08-1989,03-01-1954,52,17,Not Applicable,Not Applicable
1,1318,2007,ACTIVE,HEADOFFICE,Executive,CEO,Vancouver,35,M,NaN,28-08-1989,03-01-1954,53,18,Not Applicable,Not Applicable
2,1318,2008,ACTIVE,HEADOFFICE,Executive,CEO,Vancouver,35,M,NaN,28-08-1989,03-01-1954,54,19,Not Applicable,Not Applicable
3,1318,2009,ACTIVE,HEADOFFICE,Executive,CEO,Vancouver,35,M,NaN,28-08-1989,03-01-1954,55,20,Not Applicable,Not Applicable
4,1318,2010,ACTIVE,HEADOFFICE,Executive,CEO,Vancouver,35,M,NaN,28-08-1989,03-01-1954,56,21,Not Applicable,Not Applicable

In [9]:
df.shape

(49653, 16)

In [10]:
df.dtypes

employee_id           int64
year                  int64
status               object
business_unit        object
department_name      object
job_title            object
city_name            object
store_no              int64
gender               object
termination_date     object
hire_date            object
birth_date           object
age                   int64
length_of_service     int64
termreason_desc      object
termtype_desc        object
dtype: object

In [11]:
df.isna().sum()

employee_id              0
year                     0
status                   0
business_unit            0
department_name          0
job_title                0
city_name                0
store_no                 0
gender                   0
termination_date     42450
hire_date                0
birth_date               0
age                      0
length_of_service        0
termreason_desc          0
termtype_desc            0
dtype: int64